@use 'variables';

.hero{
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/3937bc4f936eb432ec42ea049cbc41c8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    span{
        display: block;
    }
    .container{
        position: relative;
    }

    &::before{
        position: absolute;
        background-color: variables.$secondatyTextColor;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: '';
        opacity: 0.5;
    }

    &__icon{
        &__logo{
            display: block;
            margin: 0 auto;
            height: 200px;
        }

        &__text{
            text-align: center;
        }
    }

    &__text{
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
    }

    @media (max-width: 640px){

        padding: 40px 0;
        background-size: none;

        &__text{
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}

